body {
	 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	 font-weight: 300;
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #000000), color-stop(1, #FFFFFF));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(left, #000000 0%, #FFFFFF 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(left, #000000 0%, #FFFFFF 100%);
}

#feedback { font-size: 1.4em; }
#mission_list .ui-selecting { background: #FECA40; }
#mission_list .ui-selected  { background: #F39814; color: white; }
#mission_list { list-style-type: none; margin: 0; padding: 0; }
#mission_list li { margin: 3px; padding: 1px; float: left; width: 275px; height: 80px; font-size: 1em; font-family: cursive; text-align: center; }

#practice_list .ui-selecting { background: #FECA40; }
#practice_list .ui-selected  { background: #F39814; color: white; }
#practice_list { list-style-type: none; margin: 0; padding: 0; }
#practice_list li { margin: 3px; padding: 1px; float: left; width: 275px; height: 80px; font-size: 1em; font-family: cursive; text-align: center; }

h1 { 

	padding: 10px;	

}

div {
	padding: 10px;
}

button {
	padding: 5px;
}

span {
	padding: 10px;	
}