<script>

// place each instruction in the below array as a new object per instruction
var instructions = [
	{
		stepId: 0,
		objective: "Ensure both terminals, A & B pins are correctly set. A should be 12, and B should be 13"
	}
];

// this script will render the html needed to create the u list
var instructions_html = '';
$(instructions).each(function(index){
	instructions_html += '<li class="ui-widget-content">Objective ' + this.stepId.toString() + ': ' + this.objective + '</li>'
});

// append html the tbody
$("#instructions_list").append(instructions_html);

</script>

<div id="instructions">
<ul id="instructions_list"></ul>
</div>